.item__details {
    margin-top: 80px;
    padding: 15px;
    animation-name: animation-active;
    animation-duration: .2s;

    &-row {
        font-size: 25px;
    }

    &-label {
        font-weight: 500;
        text-transform: uppercase;
    }

    &-content {
        margin-top: 30px;
        background: rgba(3, 3, 3, 0.3);
        padding: 15px;
    }
}