.item__details {
    margin-top: 80px;
    padding: 15px;
    animation-name: animation-active;
    animation-duration: .3s;

    &-row {
        font-size: 25px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    &-label {
        font-weight: 500;
        text-transform: uppercase;
    }

    &-content {
        margin-top: 30px;
        background: rgba(3, 3, 3, 0.3);
        padding: 15px;
    }
}

@media screen and (max-width: 760px) {
    .item__details-row {
        font-size: 20px;
    }
}

@media screen and (max-width: 512px) {
    .item__details-row {
        font-size: 15px;
    }
}