.current-page-number {
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    font-size: 20px;
    color: grey;

    span {
        color: #fff;
        font-size: 35px;
        font-weight: 500;
    }
}

@media screen and (max-width: 512px) {
    .current-page-number {
        display: none;
    }
}