.rocket-list {
    width: 100%;
    padding: 15px;
}

.animation-active {
    animation-name: transrow;
    animation-duration: .2s;
}

@keyframes transrow {
    0% {
        opacity: 0;
        transform: translate(1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}
