*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a, ul, li {
    text-decoration: none;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100%;
    ::-webkit-scrollbar {
        width: 15px; /* ширина для вертикального скролла */
        height: 8px; /* высота для горизонтального скролла */
        background-color: #231e1e;
    }

    /* ползунок скроллбара */
    ::-webkit-scrollbar-thumb {
        background-color: #7b797a;
        border-radius: 9em;
        //box-shadow: inset 1px 1px 10px #f3faf7;
    }
}

a:hover {
    text-decoration: none;
}

button:focus, input:focus {
    outline: none;
    cursor: pointer;
}

.app {
    overflow: hidden;
}

.app-content {
    background: url('../images/space.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    transition: .3s;
    font-family: 'Teko', sans-serif;
}

@media screen and (max-width: 480px) {
    * {
        line-height: 1.2;
    }
}

@keyframes animation-active {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}