li {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.app {
    min-height: 100vh;
    position: relative;
}

@media screen and (max-width: 480px) {
    * {
        line-height: 1.2;
    }
}