.item__list-img-wrapper {
    width: 100%;
    height: 90%;
    border-bottom: 3px solid #ffe000;
}

.item__list-info {
    text-align: center;
    color: #ffe000;
}

.item__list-row {
    transition: .3s;
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .item__title {
        font-size: 25px;
    }
}

@media screen and (max-width: 512px) {
    .item__title {
        font-size: 15px;
    }
}