.header-menu-mobile {
    position: absolute;
    background-color: rgba(26, 26, 38, 0.8);
    width: 100%;
    z-index: 1;
    transition: .5s;
    top: -250px;
    left: 0;

    ul {
        margin-left: auto;
        margin-top: 50px;
    }
}

.header-menu-mobile.active {
    top: 0;
}

.header-link-mobile {
    font-size: 35px;
    text-align: right;
}


@media screen and (max-width: 575px) {
    .header-link-mobile {
        padding-right: 15px;
    }
}

@media screen and (min-width: 761px) {
    .header-menu-mobile,
    .header-menu-mobile.active {
        display: none;
    }
}