.alert {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.alert-enter {
    opacity: 0;
}

.alert-enter-active {
    transition: opacity 500ms ease-out;
    opacity: 1;
}

.alert-exit-active {
    transition: opacity 350ms ease-out;
    opacity: 0;
}