.rocket-details {
    width: 100%;
    padding: 15px;
}

.rocket-details__info {
    padding: 15px;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 20px;
}

.rocket-details__name {
    font-size: 35px;
    text-align: center;
}

.rocket-details__row_description {
    font-size: 25px;
}

.rocket-details__row {
    margin-bottom: 10px;

    span {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 480px) {
    .rocket-details {
        font-size: 15px;
    }

    .rocket-details__row_description {
        font-size: 18px;
    }

    .rocket-details__row {
        margin-bottom: 10px;
    }
}
