.space-x-logo {
    width: 200px;
    margin-bottom: 10px;
}

.header__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.header-link {
    text-transform: uppercase;
    a {
        font-size: 20px;
        transition: .3s;
        color: #fff;

        &:hover {
            text-shadow: 1px 1px 2px black, 0 0 1em;
        }
    }
}

.header__burger {
    display: none;
}

.header-link.header-link-pc.active a{
    color: #ffe000;
}

@media screen and (max-width: 760px) {
    .header-link-pc {
        display: none;
    }

    .header__links {
        width: 0;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 2;
    }

    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        border-radius: 4px;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background: #fff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        border-radius: 4px;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }
}
