.rocket__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    transition: .2s;
    cursor: pointer;
    border: 3px solid rgba(70, 109, 252, 0.3);
    border-radius: 15px;

    &:hover {
        box-shadow: 5px 5px 30px -5px rgba(0, 0, 0, 0.75);
        transform: scale(1.01);
    }

    span {
        text-transform: uppercase;
    }
}

.rocket-img-wrapper {
    width: 30%;
    height: 220px;
    flex-shrink: 0;
}

.rocket__img {
    width: 100%;
    height: 100%;
}

.rocket__item-info {
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-rocket {
    color: #fff;
    border: 1px solid #343a40;
    background: #343a40;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 4px;
    transition: .4s;

    &:hover {
        color: #343a40 !important;;
        background: #fff;
    }
}

@media screen and (max-width: 768px) {
    .rocket-img-wrapper {
        height: 200px;
    }
}

@media screen and (max-width: 512px) {
    .rocket-img-wrapper {
        width: 40%;
        height: 150px;
    }

    .rocket-info__name {
        font-size: 25px;
    }

    .rocket__item-info {
        width: 55%;
    }

    .rocket__item {
        font-size: 13px;
    }

    .btn-rocket {
        font-size: 12px;
        padding: 2px 8px;
    }
}

@media screen and (max-width: 380px) {
    .rocket__item {
        font-size: 12px;
    }

    .rocket-img-wrapper {
        height: 120px;
    }
}
