.items__list {
    padding: 15px;
    margin: 40px 0 0;
    animation-name: animation-active;
    animation-duration: .2s;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-element {
        margin: 20px 10px;
        transform: skew(-15deg, 0deg) translateY(0px);
        cursor: pointer;
        display: block;
        width: 22%;
        height: 500px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
        transition: .3s;
        clip-path: polygon(0 100%, 0 0, 100% 10%, 100% 100%);

        &:hover {
            transform: skew(-15deg, 0deg) translateY(50px);
        }
    }
}

@media screen and (max-width: 1023px) {
    .items__list-element {
        height: 400px;
        width: 28%;
    }
}

@media screen and (max-width: 767px) {
    .items__list {
        padding: 0;
    }

    .items__list-element {
        transform: skew(0deg, 0deg) translateY(0px);
        width: 45%;
        height: 400px;
        clip-path: none;
    }
}

@media screen and (max-width: 512px) {
    .items__list-element {
        margin: 0px 5px;
        height: 300px;
    }
}

@media screen and (max-width: 360px) {
    .items__list-element {
        height: 230px;
    }
}