.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    height: 100%;
    transition: .5s;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
    }
}

%btn-styles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 100%;
    transition: .3s;
    background-color: rgba(33, 32, 32, 0.2);

    &:hover {
        background-color: rgba(33, 32, 32, 0.7);
    }
}

#goLeft {
    left: 0;
    @extend %btn-styles;
}

#goRight {
    right: 0;
    @extend %btn-styles;
}

@media screen and (max-width: 575px) {
    .slider {
        height: 60vh;
    }

    %btn-styles {
        background: none;
    }
}